<div class="container">
    <div class="row">
        <h1 class="display-4">Employees</h1>
        <div class="col-xs-12 col-sm-6 col-sm-push6">
            <ul>
                <li *ngFor="let user of users">
                    <p id="user__{{user.id}}" class="user-name" (click)="manualtoggle($event)">
                        <label>
                            <span>{{user.id}}</span>
                            <span>{{user.first_name}}</span>
                            <span>{{user.last_name}}</span>
                        </label>
                        <span>&nbsp;|&nbsp;</span>
                        <span>
                           Toon details
                        </span>

                    </p>
                    <div [ngStyle]="{display:displayddl}" class="jumbotron" id="details__{{user.id}}">
                        <h4 class="h4">
                            Details Employee {{user.id}}
                        </h4>
                        <div class="thumbnail">
                            <div class="list-group">
                                <label class="list-group-item" for="naam">
                            <strong>Volledige naam</strong>&nbsp;
                            <input id="naam" placeholder="{{user.first_name}} {{user.last_name}}">
                          </label>

                                <label class="list-group-item" for="adres">
                          <strong>Adres</strong> &nbsp;
                          <input id="adres" placeholder="{{user.address}}">
                        </label>
                                <label class="list-group-item" for="email">
                          <strong>Email</strong>&nbsp; 
                          <input id="email" placeholder="{{user.email}}">
                        </label>
                                <label class="list-group-item" for="sexe">
                          <strong>Sexe</strong> &nbsp;
                          <input id="sexe" placeholder="{{user.gender}}">
                        </label>
                                <label class="list-group-item" for="job">
                          <strong>Functie</strong>&nbsp; 
                          <input id="job" placeholder="{{user.job_role}}">
                          </label>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-block btn-info" role="button">Sluit</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-block btn-primary" role="button">Bewaar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>